function ca() {
    cd ~/src/consumeraffairs
}

function brands() {
    cd ~/src/brands
}

function leads() {
    cd ~/src/leads-api
}

function catracking() {
    cd ~/src/catracking
}

function userdb() {
    cd ~/src/userdb
}

function m() {
    python manage.py $@
}

function ca() {
    (
        cd ~/src/ca/env
        make $@
    )
}

function twingate_auth() {
    xdg-open "$(twingate status | grep -Eo "https://[^ >]+" | head -n1)"
}

alias vim="nvim"

alias ca=ca
alias brands=brands
alias leads=leads
alias catracking=catracking
alias userdb=userdb

alias m=m
alias celp="./manage.py celery purge"
alias rf="redis-cli FLUSHALL"
alias rs="python manage.py runserver"
alias rsp="python manage.py runserver_plus"
alias nrs="newrelic-admin run-python manage.py runserver_plus"
alias cpyc="find . -name '*.pyc' -delete"
alias twingate_auth=twingate_auth

alias d=docker
alias dp="d ps"
alias di="d images"
alias dl="d logs"
alias ds="docker stop $(docker ps -a -q)"

alias dc=docker-compose
alias dcu="dc up"
alias dcd="dc down"
alias dcp="dc ps"
alias dce="dc exec"

alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'

function sshkey() {
    export SSHKEY=$(<~/.ssh/id_rsa)
    export KNOWN_HOSTS=$(ssh-keyscan github.com 2> /dev/null)
}

alias sshkey=sshkey

alias restoresb="gpg -d $1 | zcat | docker exec -i silverback_postgres_1 psql -U silverback"
alias pyb="git diff --name-status | cut -f2 | grep '.py' | xargs black"
alias -g Z="| fzf"
alias dns="echo 127.0.0.1 | sudo tee /etc/resolv.conf"
