[user]
    email = ramonsaraiva@gmail.com
    name = Ramon Saraiva

[alias]
    st = status
    ci = commit
    cia = commit --all
    co = checkout
    b = branch
    nb = checkout -b  # create and switch to a new branch (mnemonic: "git new branch branchname...")
    d = diff  # diff unstaged changes
    dc = diff --cached  # diff staged changes
    chunkyadd = add --patch  # stage commits chunk by chunk
    amend = commit --amend
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    unstage = reset HEAD --

    # git pr <remote> <pull request>
    pr = "!f() { git fetch -fu $1 refs/pull/$2/head:pr/$2; git checkout pr/$2; } ; f"
    prc = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"

    ps = !git co --quiet staging && git pull ca staging
    pm = !git co --quiet master && git pull ca master

    cb = !git branch | grep -v "master" | grep -v "staging" | grep -v "qa" | xargs git branch -D

[core]
    editor = /usr/bin/nvim
    excludesfile = ~/.gitignore
