URxvt.foreground: #ffffff

URxvt.font: xft:monospace:size=12
URxvt.boldFont: xft:monospace:size=12
URxvt.italicFont: xft:monospace:size=12
URxvt.boldItalicfont: xft:monospace:size=12
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

URxvt*transparent: true
URxvt*shading: 60
