Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: none

! fonts
#define operatorRegular xft:Operator Mono Lig Book:pixelsize=17:style=Regular:weight=300:antialias=true, \
                        xft:FiraFlott:pixelsize=17:style=Medium, \
                        xft:Fira Code:pixelsize=17:style=Medium
#define operatorItalic xft:Operator Mono Lig Book:pixelsize=17:style=Italic
#define firaFont xft:Fira Code:size=12:Bold

URxvt.font: operatorRegular
URxvt.boldFont: operatorRegular
URxvt.italicFont: operatorRegular
URxvt.boldItalicfont: operatorRegular
URxvt.letterSpace: -1
URxvt.lineSpace: 1
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!URxvt*transparent: true
!URxvt*shading: 80

*.foreground:    #ABB2BF
*.background:    #1E2127
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B

*.color0:        #1E2127
*.color8:        #5C6370
*.color1:        #E06C75
*.color9:        #E06C75
*.color2:        #98C379
*.color10:       #98C379
*.color3:        #D19A66
*.color11:       #D19A66
*.color4:        #61AFEF
*.color12:       #61AFEF
*.color5:        #C678DD
*.color13:       #C678DD
*.color6:        #56B6C2
*.color14:       #56B6C2
*.color7:        #ABB2BF
*.color15:       #FFFFFF
